<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="" type="image/svg+xml" />
  <title>Project Lexart</title>
</head>
<body>
  <select>
    <% sites.forEach(site => { %>
      <option value="<%= site %>"><%= site %></option>
    <% }); %>
  </select>
  <select>
    <% categories.forEach(category => { %>
      <option value="<%= category.name %>"><%= category.name %></option>
    <% }); %>
  </select>
</body>
</html>